<footer class="footer">
    <div class="wrapper">
        <div class="footer__components">
            <a href="#top" class="footer__components--link" title="footer-top">
                <img class="footer__components--icon-arrow" src="./assets/images/ico-arrow.svg" alt="icon-arrow">
            </a>
            <ul class="footer__components--top">
                <il>
                    <a href="https://adalab.es/" title="adalab-web">articles</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">books</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">events</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">reasons</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">tips</a>
                </il>
            </ul>
            <ul class="footer__components--bottom">
                <il>
                    <a href="https://adalab.es/" title="adalab-web">twitter</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">instagram</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">mastodon.social</a>
                </il>
            </ul>
            <span class="footer__components--copyright">©2017</span>
            <span class="footer__components--heart">we <i class="fas fa-heart"></i> componentes</span>
        </div>
    </div>
</footer>