<footer class="footer">
    <div class="wrapper">
        <a href="#top" class="footer__link" title="footer-top">
            <img class="footer__icon-arrow" src="./assets/images/ico-arrow.svg" alt="icon-arrow">
        </a>
        <div class="footer__components">
            <ul class="footer__components--top">
                <il>
                    <a href="https://adalab.es/" title="adalab-web">articles</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">books</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">events</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">reasons</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">tips</a>
                </il>
            </ul>
            <ul class="footer__components--bottom">
                <il>
                    <a href="https://adalab.es/" title="adalab-web">twitter</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">instagram</a>
                </il>
                <il>
                    <a href="https://adalab.es/" title="adalab-web">mastodon.social</a>
                </il>
            </ul>
            <div class="footer__components--end">
                <span>©2017</span>
                <span>we <i class="fas fa-heart"></i> componentes</span>
            </div>
        </div>
    </div>
</footer>