<hero class="hero">
    <div class="wrapper">
        <h1 class="hero__title">
            <span>anonymous</span>
            <span>proxy</span>
        </h1>
        <div class="hero__claim">
            <span>In hachabitasse platea dictumst.</span>
        </div>
        <div class="hero__button">
            <a href="#section" class="hero__link" title="hero-link">
                <img class="hero__iconscrolldown" src="./assets/images/ico-scroll-down.svg" alt="icon-scrolldown">
            </a>
        </div>

    </div>
</hero>