<main class="main">
  <div class="wrapper">
    <section class="topSection">
      <span class="topSection__title">Insomnia Tips</span>
      <h2 class="topSection__mainTitle">
        <span>looking through a</span>
        <span>window</span>
      </h2>
      <p class="topSection__paragraph">
        Donec accumsan, nulla ut volutpat portittor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
        semper sodales rutrum.
      </p>
      <a class="topSection__button" href="#" title="go">Go</a>
    </section>
    <section class="section">
      <div class="section__article">
        <h2 class="section__article--title">3 reasons to purchase</h2>
        <include src="./article.html" articleTitle="Ut sed metus"
          articleParagraph="Lorem ipsum dolor sit amet, consecteur.">
        </include>
        <include src="./article.html" articleTitle="Curabitur ac erat"
          articleParagraph="Mauris mattis urna quis lorem molestie.">
        </include>
        <include src="./article.html" articleTitle="Morbi dictum"
          articleParagraph="Aliquam in dolor et dolor tincitum.">
        </include>
        <a class="section__article--button" href="#" title="more reasons">More reasons </a>
      </div>
  </div>


</main>