<main class="main">
    <div class="wrapper">
        <section class="topsection">
            <span class="topsection__title">Insomnia Tips</span>
            <h2 class="topsection__maintitle">
                <span>looking through a</span>
                <span>window</span>
            </h2>
            <p class="topsection__paragraph">
                Donec accumsan, nulla ut volutpat portittor, quam odio tempus felis, at luctus ex diam nec lectus.
                Vivamus semper sodales rutrum.
            </p>
            <a class="topsection__buttongo" href="#" title="go">Go</a>
        </section>
    </div>