//**FONTS**//

$primary-font:'Roboto', sans-serif;
$secondary-font:'Roboto Slab', serif;

//**FONT COLORS**//

/*black*/
$first-color:#000000;

/*greyish-brown*/
$secondary-color:#4a4a4a;

/*bright-orange*/
$terciary-color:#f26002;

/*white*/
$forth-color:#ffffff;

/*soft blue*/
$fifth: #8ccbea;

//**BACKGROUND COLOR**//

/*white*/
$first-background:#ffffff;

/*ice-blue*/
$second-background:#eff9ff;

/*dark-grey-blue*/
$terciary-background:#304268;

