*{
    box-sizing: border-box;
    color:inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    max-width: 1200px;
    padding:15px;
    margin:auto;
    width: 100%;
}