* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    max-width: 1280px;
    padding: 0 15px;
    margin: auto;
    width: 100%;
    @include tablet() {
        padding: 0 39px;
    }
    @include desktop() {
        padding: 0 81px;
    }
}


html {
    scroll-behavior: smooth;
}