.footer {
    background-color: $terciary-background;
    width: 100%;
    height: 465px;
    bottom: 0;
    @include tablet() {
        height: 240px;
    }
    @include desktop() {
        padding: 0 331px;/*370-39wrapper*/
    }
    &__link {
        display: block;
        top: 0;
        text-align: center;
        transform: translate(0%, -50%);
        &:hover {
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-name: icon-arrow;
        animation-timing-function: linear;
            @keyframes icon-arrow {
            0%   { transform: translateY(-50%); }
            50%  { transform: translateY(-70%); }
            100% { transform: translateY(-50%); }
            }
        }
    }
    &__icon-arrow {
        background-color: #ffffff;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 10px;
        transition: background-color ease 1s;
        &:hover {
            background-color:$terciary-background;
        }
    }
    &__components {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 30px;
        @include tablet() {
            flex-direction: row;
            justify-content: space-between;
            align-items:initial;
        }
        &--top,
        &--bottom {
            color: $forth-color;
            font-size: $defaultFontSize;
            text-transform: uppercase;
            font-family: $primary-font;
            font-weight: $regular;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            @include tablet() {
                align-items:initial;
            }
        }
        &--end {
            color: $forth-color;
            font-size: rem (14);
            font-family: $primary-font;
            font-weight: $regular;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 45px;
            @include tablet() {
                order: -1;
                align-items:initial;
            }
            & i {
                color: $terciary-color;
            }
        }
    }
}