.hero {
    background: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 284px 0 53px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include tablet() {
        padding: 384px 0 45px 0;
    }
    @include desktop() {
        padding: 384px 0 13px 0;
    }
    
    &__title {
        font-family: $secondary-font;
        font-size: rem(42);
        color: $forth-color;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 55px;
        @include tablet() {
            font-size: rem(80);
            line-height: 106px;
        }
        @include desktop() {
            font-size: rem(100);
            line-height: 132px;
        }
    }
    &__claim {
        font-family: $primary-font;
        font-size: rem(16);
        color: $forth-color;
        height: 21px;
        text-align: center;
        @include tablet() {
            font-size: rem(24);
            margin-top: 10px;
        }
    }
    &__button {
        position: relative;
        text-align: center;
        margin-top: 30px;
    }
    &__iconscrolldown {
        background-color: #ffffff;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 10px;
    }
}