.main {
    border: 1px solid red;
}

.topsection {
    border: 1px solid red;
    height: 376px;
    padding: 30px 0 45px 0;
    @include tablet() {
        height: 330px;
        padding: 30px 0 60px 0;
    }
    @include desktop() {
        height: 360px;
        padding: 60px 194px 60px 194px;
    }
    &__title {
        font-family: $primary-font;
        font-weight: $regular;
        font-size: rem(14);
        color: $fifth-color;
        @include desktop() {
            font-size: rem(16);
        }
    }
    &__maintitle {
        font-family: $secondary-font;
        font-weight: $bold;
        font-size: rem(24);
        color: $first-color;
        line-height: 30px;
        text-transform: capitalize;
        @include tablet() {
            font-size: rem(26);
            line-height: 45px;
        }
        @include desktop() {
            font-size: rem(32);
        }
    }
    &__paragraph {
        font-family: $primary-font;
        font-weight: $regular;
        font-size: rem(18);
        color: $secondary-color;
        line-height: 30px;
        padding: 25px 0 0 0;
        @include tablet() {
            font-size: rem(20);
            line-height: 30px;
        }
    }
    &__buttonGo {
        border: 3px solid $terciary-color;
        font-family: $primary-font;
        font-weight: bold;
        font-size: rem(20);
        color: $terciary-color;
        height: 45px;
        width: 76px;
        border-radius: 25px 25px 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        transition: transform ease 1s;
        transition: border-color ease 1s;
        transition: color ease 1s;
        &:hover {
            margin-left: 10px;
            transform: scale(1.2);
            border-color: $fifth-color;
            color: $fifth-color;
        }
        @include tablet() {
            width: 91px;
            margin-bottom: 60px;  
        }
        @include desktop() {
            width: 160px;
        }    
    }
}

.section {
    border: 1px solid red;
    background-color: $second-background;
    &__article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        height: 624px;
        @include tablet() {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            text-align: center;
            height: 397px;
        }
        @include tablet() {
            height: 427px;
        }
        &--title {
            font-family: $secondary-font;
            font-size: rem(24);
            color: $first-color;
            text-align: center;
            padding: 30px 0 0 0;
            @include tablet() {
                grid-column: 1 / 4;
                text-align: center;
                font-size: rem(26);
            }
            @include desktop() {
                font-size: rem(32);
                padding:60px 0 0 0; 
            }
        }
        &--content {
            text-align: center;
            padding: 0 55px 30px 55px;
            @include tablet() {
                padding: 0 15px 0 15px;
            }
            &--title {
                font-family: $secondary-font;
                font-size: rem(18);
                color: $first-color;
                @include tablet() {
                    font-size: rem(24);
                    padding-bottom: 14px;
                }
            }
            &--paragraph {
                font-family: $primary-font;
                font-size: rem(18);
                color: $first-color;
                line-height: 30px;
                @include tablet() {
                    font-size: rem(20);
                }
            }
        }
        &--button {
            background-color: $terciary-color;
            font-size: rem(20);
            color: $forth-color;
            font-family: $primary-font;
            font-weight: $medium;
            line-height: 45px;
            border-radius: 40px;
            width: 184px;
            height: 45px;
            margin: auto;
            margin-bottom: 60px;
            transition: color ease 1.5s;
            &:hover {
                background-color: $forth-background;
            }
            @include tablet() {
                grid-column: 1 / 4;
                text-align: center;
                width: 210px;
            }
            @include desktop() {
                width: 255px;
            }
        }
    }
}