
.topSection{
    border:1px solid red;
    padding: 45px;
    
    &__title{
        font-family:$primary-font;
        font-size: rem(14);
        color: $fifth-color;
        line-height: 30px;
        width: 90px;
        height: 30px;
    }
    &__mainTitle{
        font-family:$secondary-font;
        font-size: rem(24);
        color: $first-color;
        line-height: 30px;
        text-transform: capitalize;
        width: 290px;
        height: 60px; 
    }
    &__paragraph{
        font-family:$primary-font;
        font-size: rem(18);
        color: $secondary-color;
        line-height: 30px;
        width: 290px;
        height: 120px;
    }

    &__bottom{
        border:2px solid $terciary-color;
        font-family:$primary-font;
        font-weight: 400px;
        font-size: rem(20);
        color: $terciary-color;
        height: 45px;
        width: 76px;
        border-radius: 22%;     
    }
}

.section{
    border:1px solid red;
    padding: 45px;
    &__title{
        font-family:$secondary-font;
        font-size: rem(24);
        color: $first-color;
    }
    &__article{
        &h3{
        font-family:$secondary-font;
        font-size: rem(18);
        color: $first-color;
        width: 184px;
        height: 30px;
        padding:53px;
        }

        &p{
        font-family:$primary-font;
        font-size: rem(18);
        color: $first-color;
        width: 180px;
        height: 63px;
        padding:55px;
        }
    }

}